<h1><%= @team.name %></h1><br>
<h3>Coaches</h3>
<% @team.coaches.each do |coach| %>
  <p><%= coach.name %> - <%= coach.email %></p>
<% end %>
<br>
<h3>Swimmers</h3>
<% @team.swimmers.each do |swimmer| %>
  <p><%= swimmer.name %> - <%= swimmer.email %></p>
<% end %>
