
<%= form_for @swimmer do |f| %>

  <!-- swimmer info -->
  <%= f.label "Name"%><br>
  <%= f.text_field :name %><br>

  <%= f.label "Email" %><br>
  <%= f.text_field :email %><br>

  <%= f.label "Password" %><br>
  <%= f.password_field :password %><br>
  
  <!-- choose a team  -->
  <%= f.label :Team %><br>
  <%= f.collection_select :team_id, Team.all, :id, :name %><br><br>

  <!-- choose events -->
  <label>Events</label><br>
  <%= f.collection_check_boxes :event_ids, Event.all, :id, :name %><br>
  <br>
  <label>New Event</label><br>
  <%= f.fields_for :events, @swimmer.events.build do |events_fields| %>
    <label>Name</label><br>
    <%= events_fields.text_field :name %><br>
    <label>Distance</label><br>
    <%= events_fields.text_field :distance %><br>
    <label>Stroke</label><br>
    <%= events_fields.text_field :stroke %><br>
  <% end %>


  <%= f.submit value="Submit" %>
<% end %>