<h1><%= @swimmer.name %></h1><br>
<h3>Team <%= @swimmer.team.name %></h3>
<% if @swimmer.team_id != 4 %>
	<%= button_to "Team Page", team_path(@swimmer.team_id), class: "normal_button", method: 'get' %>
<% end %>
<br>
<h3>My Events</h3>

<!-- example of utilizing rails relationships -->
<% @swimmer.swimmer_events.each do |swim_event|%>
  <h5><%= swim_event.event.name %> - <%= swim_event.personal_record %></h5>
  <%= form_for swim_event do |f| %>
    <%= f.text_field :personal_record %>
    <%= f.submit value="Update Time", class:"normal_button" %><br><br><br>
  <% end %>
<% end %>