<h1><%= @swimmer.name %></h1><br>
<h3>Team <%= @swimmer.team.name %></h3>
<%= link_to "Team Page", team_path(@swimmer.team.id) %>
<br>
<h3>My Events</h3>
<% @swimmer.get_events_and_times.each do |event|%>
  <h5><%= event[:name] %> - <%= event[:time]%></h5>
  <form action="/swimmer_events/<%= event[:id] %>" method='post'>
    <input type="text" name="personal_record">
    <input type="hidden" name="_method" value="patch">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <input type="submit" class="normal_button" value="Update Time">
  </form><br><br>
<% end %>
