<h1><%= @swimmer.name %></h1><br>
<h3>My Team: <%= @swimmer.team.name %></h3>
<% @swimmer.team.swimmers.each do |swimmer| %>
  <p><%= swimmer.name %> - <%= swimmer.email %></p>
<% end %>
<br>
<h3>My Events</h3>
<% @swimmer.events.each do |event|%>
  <%= event.name %><br>
<% end %><br>
