<h1>Coaches' Signup</h1>

<%= form_for @coach do |f| %>

  <!-- coach info -->
  <%= f.label :name %><br>
  <%= f.text_field :name %><br>

  <%= f.label :email %><br>
  <%= f.text_field :email %><br>

  <%= f.label :password %><br>
  <%= f.text_field :password %><br>
  
  <!-- choose or create a team -->
  <%= f.collection_select :team_id, Team.all, :id, :name %>


  <%= f.submit %>
<% end %>