<!DOCTYPE html>
<html>
  <head>
    <title>Freestyle</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="https://fonts.googleapis.com/css?family=Ultra" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body background="https://cdn.swimswam.com/wp-content/uploads/2018/03/stock-by-Mike-Lewis-LDM_1946-2.jpg"> 
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Freestyle</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <% if current_swimmer %>
          <li class="nav-item active">
            <a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/events">Events</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/teams">Teams</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" <%= link_to "My Account", edit_swimmer_path(current_swimmer.id) %>
          </li>
          <li class="nav-item">
             <%= form_tag logout_path, method: 'post' do %>
              <button class="btn btn-link nav-link" type="submit">Log Out</button>
            <% end %>
          </li>
        <% else %>
          <li class="nav-item active">
            <a class="nav-link" href="/login">Log In<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/swimmers/new">Sign Up<span class="sr-only">(current)</span></a>
          </li>
        <% end %>
      </ul>
    </div>
  </nav>

    <div class="content">
      <%= yield %>
    </div>
  </body>
</html>
